{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-default">
                    <h5 class="card-title mb-0">Sign Up</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Username</label>
                            <input type="text" id="id_username" name="username" class="form-control form-control-lg" placeholder="Username" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_email" class="form-label">Email</label>
                            <input type="email" id="id_email" name="email" class="form-control form-control-lg" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_password1" class="form-label">Password</label>
                            <input type="password" id="id_password1" name="password1" class="form-control form-control-lg" placeholder="Password" required>
                            <small class="text-muted">Minimum 8 characters, at least one letter, one number, and one special character</small>
                        </div>
                        <div class="mb-3">
                            <label for="id_password2" class="form-label">Confirm Password</label>
                            <input type="password" id="id_password2" name="password2" class="form-control form-control-lg" placeholder="Confirm Password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

